<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Helló világ!</p>

    <p> 
        Az a változó értéke 
        {% if a > 100 %}
            <span style="color:red">{{ a }}.</span>
        {% else %}
            <span style="color:blue">{{ a }}.</span>
            {% endif %}
        </p>
    <p>A b változó értéke {{ b }}</p>
    <p>A l változó értéke {{ l }}</p>

    <ul>
        {% for i in l %}
        <li>    
            {{ i }}

        </li>
        {% endfor %}
    </ul>
</body>
</html>